* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  width: 100%;
  grid-template-columns: 350px 1fr 1fr;
  grid-template-rows: 10%;
  grid-template-areas: 
    "header header header"
    "nav main main";
}

/*-------------- HEADER ---------------*/

.header__header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  background-color: #1F1F3D;
  grid-area: header;
  padding: .75em;

}

h1 {
  color: #FFFFFF;
  margin-left: 25px;
  font-size: 2.3em;
}

#header__h1 {
  color: #FFC30C;

}

.header__div-search {
  display: flex;
  width: 350px;
  margin-right: 10px;
}

#header__img-search {
  height: 40px;
  width: 13%;
  padding: 3%;
  background-color: #C8D3D9;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

#header__input-search {
  font-size: 1em;
  margin: 0;
  padding: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: none;
}

::placeholder {
  font-size: 1em;
  padding-left: 10px;
}

/*---------------- NAV ----------------*/

nav {
  background-color: #587A8A;
/*  width: 100%;
  height: 100vh;*/
  grid-area: nav;
}

.nav__section{
  margin-top: 15px;
}

label {
   color: lightgrey;
   font-weight: 400;
   font-size: .8em;
  margin-left: 23px;
   margin-bottom: 4px;
}


.nav__section-task-list {
color: #FFFFFF;
margin-left: 16px;
}

.nav__section-task-item {
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.nav__section__task-image {
  height: 25px;
  width: 25px;
  margin-top: 6px;
  background: url(images/delete-list-item.svg) no-repeat;
}

.nav_section_task{
color: #ffffff;

}
.body__input {
  width: 300px;
  height: 40px;
  border: 1px solid #1F1F3D;
  border-radius: 3px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.nav__section__buttons-large{
  width: 300px;
  background-color: #1F1F3D;
  color: #FFFFFF;
  height: 40px;
  font-size: 1.2em;
  text-align: center;
  margin: 15px;
  margin-left: 20px;
  border: none;
  border-radius: 3px;

}
.nav__section__buttons:disabled {
   background-color: lightgrey;
}

.nav__section-div {
/*  height: 50px;
*/  display: flex;
    width: 320px;
  }

#nav__section__input-task-title {
  border-radius: 3px;
}

#nav__section__button-add-task-item {
  height: 40px;  
  padding: 1%;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding: 2%;
  border: none;
  width: 47px;
  background: #1F1F3D url(images/plus.svg) no-repeat;
}

#nav__section__button-add-task-item:disabled {
 background: lightgrey url(images/plus.svg) no-repeat
}

#nav__section__input-task-item{
border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: none;
}

#nav__section__button-make-task-list {
  margin-bottom: 5px;
}

#nav__section__button-clear-all, 
#nav__section__button-filter-by-urgency  {
  margin-bottom: 35px;
}

.nav__section_button-bottom {
  border-top: 2px solid #3C6577;

}
/*--------------- MAIN ----------------*/
main {
  column-gap: 1rem;
  columns: 2 250px;
  background-color: #F3F6F7;
  grid-area: main;
  height: auto;
  padding: 2em;
}

#main__p-prompt {
  border: 2px dotted lightgrey;
  margin: auto;
  text-align: center;
  width: 100%;
  background: #FAFDFF;
  break-inside: avoid;
  margin-bottom: 10px;
    min-height: 120px;
        padding: 25px;

}


.hidden{
  display: none;
}

.main__article {
  background: #FAFDFF;
  border: 1px solid #C8D3D9;
  break-inside: avoid;
  padding: 3px;
  width: 100%;
  margin-bottom: 10px;
    min-height: 120px;
}

.main__article__header {
  border-bottom: 2px solid #C8D3D9;

}

h2 {
font-weight: 600;
margin-bottom: .7em;
margin-left: .5em;
margin-top: .5em;
  color: #1F1F3D;

}

h3{
  font-weight: 600;
  font-size: .7em;
  margin-bottom: 10px;
    margin-top: 0px;
    color: #587A8A;
}
.main__article__header-span {
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;

}
.main__article__section__image-checkbox {
  height: 20px;
  width: 20px;
  margin-top: 6px;
/*  background: url(images/checkbox.svg) no-repeat;
*/}

p {
  margin-top: 5px;
  margin-left: 10px; 
  font-size: 1.25em;
    color: #1F1F3D;

}

#main__article__section__image-checkbox:hover {
  background: url(images/checkbox-active.svg) no-repeat;
}

footer {
  display: flex;
  border-top: 2px solid #C8D3D9;
  justify-content: space-between;
  margin-top: 10px;
}

.main__article__footer__images {
  margin: auto;
  margin-top: 10px;
}

.main__article__footer__images-urgent{
    margin-left: 20px;
}

.main__article__footer__images-delete{
    margin-right: 20px;
}

#main__article__footer__image-urgent {
  height: 30px;
  width: 30px;
  background: url(images/urgent.svg) no-repeat;
    margin-left: 8px;
}

#main__article__footer__image-urgent:hover {
  background: url(images/urgent-active.svg) no-repeat;
}

#main__article__footer__image-delete {
  height: 30px;
  width: 30px;
  background: url(images/delete.svg) no-repeat;
  margin-left: 6px;
}

#main__article__footer__image-delete:hover {
  background: url(images/delete-active.svg) no-repeat;
}

.main__article__task-completed {
  color: #58798B;
  font-style: italic;
    margin-left: 15px;
    margin-right: 15px;
 /*    border: 2px solid #FFC30C;
  break-inside: avoid;*/
}

.urgent__card{
  background-color: #FFE79D;
  border-color: #FFC30C;

}

.urgent__card footer{
  border-top: 2px solid #FFC30C;

}

.urgent__card header {
    border-bottom: 2px solid #FFC30C;

}

.urgent__card #main__article__footer__image-urgent {
  background: url(images/urgent-active.svg) no-repeat;
}


.urgent__button {

background-color: #EF4A23;
border: 2px solid #752E1F
}

/*----------- MEDIA QUERIES ------------*/


/*@media screen and (max-width: 750px) {
  .header_header{
     display: flex;
    flex-wrap: wrap;
    height: 300px;

  }

@media screen and (max-width: 525px) {
  body {
    grid-template-rows: 13% ;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "nav"
      "section"
      "main";
  }

  #main {
    grid-template-columns: repeat(1, 1fr);
  }


}*/
