* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 350px 1fr 1fr;
  grid-template-areas: 
    "header header header"
    "nav main main";
}

/*-------------- HEADER ---------------*/

.header__header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
  grid-area: header;
  height: 70px;
}

h1 {
  color: #FFFFFF;
  margin-left: 15px;
  font-size: 2.3em;
  margin-top: 10px;
}

#header__h1 {
  color: #FFC30C;
}

.header__div-search {
  display: flex;
  width: 350px;
  margin-top: 12px;
  margin-right: 10px;
}

#header__img-search {
  height: 45px;
  width: 13%;
  padding: 3%;
  background-color: #C8D3D9;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

#header__input-search {
  font-size: 1em;
  margin: 0;
  padding: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: none;
}

::placeholder {
  font-size: 1em;
  padding-left: 10px;
}

/*---------------- NAV ----------------*/

nav {
  background-color: #587A8A;  
  width: 100%;
  height: 100vh;
  grid-area: nav;
}

.nav__section{
  margin-top: 15px;
  margin-left: 15px;
}

h2 {
   color: lightgrey;
   font-weight: 400;
   font-size: .8em;
   margin-left: 10px;
   margin-bottom: 4px;
}

.body__input {
  width: 300px;
  height: 45px;
  border: 1px solid #1F1F3D;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.nav__section__buttons {
  width: 300px;
  background-color: #1F1F3D;
  color: #FFFFFF;
  height: 40px;
  font-size: 1.2em;
  text-align: center;
  margin: 15px;
  border: none;
}

.nav__section-div {
  height: 50px;
  display: flex;
  width: 310px;
}

#nav__section__input-task-title {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#nav__section__button-add-task-item {
  background-color: #1F1F3D;
  height: 45px;  
  padding: 1%;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding: 2%;
  border: none;
  width: 47px;
}

#nav__section__button-make-task-list {
  margin-bottom: 5px;
}

#nav__section__button-clear-all {
  margin-bottom: 35px;
}

#nav__section__button-filter-by-urgency {
  margin-top: 35px;
}

.nav__section_button-bottom {
  border-top: 2px solid #3C6577;

}
/*--------------- MAIN ----------------*/
main {
  background-color: #F3F6F7;
  grid-area: main;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  column-count: 2;
  column-gap: 1rem;
  height: 100vh;
  flex: 1 auto;
  width: 50%;
  margin-bottom: 10px;

}

.main__article {
  border: 1px solid #C8D3D9;
  background: #FAFDFF;
  margin: 30px;
  padding: 3px;
   break-inside: avoid;
   box-sizing: content-box; 
   object-fit: fill;
    height: 280px;
}

.main__article__header {
  border-bottom: 2px solid #C8D3D9;
}

h3 {
font-weight: 600;
margin-bottom: .7em;
margin-left: .5em;
margin-top: .5em;
  color: #1F1F3D;

}

h4{
  font-weight: 600;
  font-size: .7em;
  margin-bottom: 10px;
    margin-top: 0px;
    color: #587A8A;
}
.main__article__header-span {
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;

}
.main__article__section__image-checkbox {
  height: 20px;
  width: 20px;
  margin-top: 6px;
  background: url(images/checkbox.svg) no-repeat;
}

p {
  margin-top: 5px;
  margin-left: 10px; 
  font-size: 1.25em;
    color: #1F1F3D;

}

#main__article__section__image-checkbox:hover {
  background: url(images/checkbox-active.svg) no-repeat;
}

footer {
  display: flex;
  border-top: 2px solid #C8D3D9;
  justify-content: space-between;
  margin-top: 0px;
}

.main__article__footer__images {
  margin: auto;
  margin-top: 10px;
}

.main__article__footer__images-urgent{
    margin-left: 20px;
}

.main__article__footer__images-delete{
    margin-right: 20px;
}

#main__article__footer__image-urgent {
  height: 30px;
  width: 30px;
  background: url(images/urgent.svg) no-repeat;
    margin-left: 8px;
}

#main__article__footer__image-urgent:hover {
  background: url(images/urgent-active.svg) no-repeat;
}

#main__article__footer__image-delete {
  height: 30px;
  width: 30px;
  background: url(images/delete.svg) no-repeat;
  margin-left: 6px;
}

#main__article__footer__image-delete:hover {
  background: url(images/delete-active.svg) no-repeat;
}
